<div class="container profile">
  <div class="section profile-heading has-background-white">
    <div class="columns is-gapless">
      <div class="column is-7 name">
        <div class="main-carousel">
          <% @stories.each do |story| %>
            <div class="carousel-cell">
              <%= image_tag story.image, class: 'carousel-image' %>
              <div class="carousel-overlay">
                <a class="story-link"><h2><%= story.title %></h2></a>
                <p><%= story.body[0, 80] %>...</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="column is-5 likes up-next-div">
        <h1 class="title is-6 up-next-date">9/22/17 - 7 PM</h1>
        <h2 class="title is-2 has-text-primary">Up Next</h2>
        <p class="subtitle is-4">O'Hara @ Bonner-Prendie</p>
        <p class="has-text-primary">
          <b>9/20/2017</b> - The lions will travel to Drexel Hill Friday night to take on Catholic League Rival
          Bonner-Prendie.  Both teams enter the game with a record of 2-1.  O'Hara will look to rebound from a
          tough loss last week to Bishop McDevitt.
        </p>
        <a href="" class="has-text-grey">Read More</a>
      </div>
    </div>
  </div>
  <main-tabs :games="<%= @upcoming_games.to_json %>"
                         :stories="<%= @stories.to_json %>"></main-tabs>

</div>

<div class="container">
<div class="section profile-heading has-background-red">
  <div class="columns">
    <div class="column is-6">
      <figure class="image is-square">
        <%= image_tag 'helmet.jpg' %>
      </figure>
    </div>
    <div class="column is-6">
      <figure class="image is-square">
        <%= image_tag 'walkup.jpg' %>
      </figure>
    </div>
  </div>
  <div class="columns">
    <div class="column is-12">
      <figure class="image">
        <%= image_tag 'stadium.jpg' %>
      </figure>
    </div>
  </div>
</div>
</div>
