<!DOCTYPE html>
<html>
  <head>
    <title>Oharafb</title>
    <%= csrf_meta_tags %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main_vue' %>
    <!--<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>-->

  </head>

  <body>
    <div id="vue-app">
      <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">O'Hara Football</a>

          <button class="button navbar-burger is-primary" @click="toggleNav" :class="{'is-active': mobileNav}">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="navbar-menu" :class="{'is-active': mobileNav}">
          <div class="navbar-end is-primary">
            <a class="navbar-item <%= active_link?('home') %>" href="<%= root_path %>">Home</a>
            <a class="navbar-item <%= active_link?('roster') %>" href="/roster">Roster</a>
            <a class="navbar-item <%= active_link?('schedule') %>" href="/schedule">Schedule</a>
            <a class="navbar-item <%= active_link?('coaches') %>" href="/coaches">Coaches</a>
            <a class="navbar-item <%= active_link?('alumni') %>" href="/alumni">Alumni</a>
          </div>
        </div>
      </nav>

      <section class="hero has-background-red ohara-fan-hero">
        <div class="ohara-fan-overlay"></div>
        <div class="hero-body">
          <div class="container">
            <h1 class="title has-text-white pride-slogan">Pride Excellence Tradition</h1>
          </div>
        </div>
      </section>

      <%= yield %>

      <footer class="footer ohara-footer">
        <div class="container">
          <div class="content has-text-centered">
            <p>Cardinal O'Hara High School</p>
            <p>Springfield, PA</p>
          </div>
        </div>
      </footer>

    </div>
  </body>
</html>
